extends layout

block content

  .header
    h1 IRC Logger
    p Keep track on what's beeing said on IRC when your offline.

  if messages
    ul.messages-list
      each message in messages
        li.item.clearfix(class = message.mention ? 'mention' : '')
          .meta
            .user= message.from
            .date= moment(message.created_at).fromNow()
          .message= message.message

  form#add_message_form.add-message-wrap
    input#the_message(placeholder="Add message", required)
