extends layout

block content

  h1 IRC Logger
  p Keep track on what's beeing said on IRC when your offline.

  if messages
    ul.messages-list
      each message in messages
        li.item(class = message.mention ? 'mention' : '')
          .user= message.from
          .message= message.message
          .date= moment(message.created_at).fromNow()
